.button {
  &.button-positive {
    &.button-outline {
      border-color: #a8959d;
      color: #a8959d;
      font-family: "Circula";
      font-size: 24px;
      margin-left: 70px;
      margin-right: 85px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
