<ion-view title="{{ vm.title }}">
  <ion-content>
    <div class="background">
      <div class="logo"></div>
      <div class="slogan"></div>
    </div>

    <!--<div class="large-padded-row">-->
      <!--<h3>Example 1</h3>-->
      <!--<div class="padded-row">-->
        <!--<angucomplete-->
          <!--id="cities"-->
          <!--placeholder="Search cities"-->
          <!--pause="400"-->
          <!--selectedobject="selectedCity"-->
          <!--url="http://127.0.0.1:8000/www/api/postalcodes/find?searchstr=city.name"-->
          <!--datafield="postalcodes"-->
          <!--titlefield="city.name"-->
          <!--minlength="1"-->
          <!--inputclass="form-control form-control-small"-->
          <!--matchclass="highlight" />-->
      <!--</div>-->
      <!--<div class="" ng-show="selectedCity">-->
        <!--You selected <span class="bold-span">{{selectedCity.originalObject.name}}</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="container">-->
      <!--<h1>TypeAhead Using AngularJS</h1>-->
      <!--<typeahead items="items" prompt="Start typing a US state" title="name" subtitle="abbreviation" model="name" on-select="onItemSelected()" />-->
    <!--</div>-->
      <!--<form>-->
        <!--<label class="item item-input">-->
          <!--<span class="input-label">Autocomplete postalcodes</span>-->
            <!--<input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="model"-->
                   <!--item-value-key="id"-->
                   <!--item-view-value-key="city.name"-->
                   <!--items-method="getItems()"-->
                   <!--items-method-value-key="items"-->
                   <!--items-clicked-method="itemsClicked(callback)"-->
                   <!--placeholder="Voer hier uw stad in..."-->
                   <!--max-selected-items="1"/>-->
            <!--</label>-->
      <!--</form>-->
      <!--<ion-list class="list animate-fade-slide-in-right">-->
          <!--<ion-item ng-repeat="city in vm.cities">-->
              <!--<a class="item item-avatar item-icon-right">-->
                  <!--<p>{{ city.id}}</p>-->
                  <!--<p>{{ city.name }}</p>-->
              <!--</a>-->
          <!--</ion-item>-->
      <!--</ion-list>-->
  </ion-content>
</ion-view>

